* {
	margin: 0;
	padding: 0;
}

.Allscreen {
	display: flex;
	flex-direction: column;
	min-height: 600px;
	text-align: center;
	list-style: none;
	margin-top: 60px;
	position: relative;
}

.Title {
	font-size: 25pt;
	font-family: 'Nanum Gothic Coding', monospace;
	font-weight: bold;
}

#checkmenu {
	display: flex;
	justify-content: space-around;
	width: 60%;
	list-style: none;
	border-bottom: 1px solid #ccc;
	border-top: 3px solid #0000ff;
	margin-left: 350px;
	margin-top: 22px;
	font-size: 22pt;
	font-weight: 100;
}

#information {
	align-items: center;
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin-left: 350px;
	list-style: none;
	border-bottom: 1px solid #ccc;
}

#inform {
	list-style: none;
}

#informmenu {
	text-align: left;
	padding: 10px;
	font-size: 13pt;
}

#inform2 {
	text-align: left;
	font-size: 13pt;
	margin-right: 50px;
}

#chat {
    width: 130px;
    height: 38px;
    background-color: white;
    border: 1px solid;
    border-color: #FFD8D8;
    border-top-color: #F15F5F;
    border-bottom-color: #F15F5F;
    font-size: 12pt;
}

#Lookup {
	font-size: 15pt;
}

.RN {
	padding: 10px;
}